html {
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-attachment:scroll;
    max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
      
}


#header{
    border: 1px solid #202020;
    text-align: center;
}
#logo_certification{
    left: 16%;
    resize:none;
    margin-top:8%;
    position:absolute;
    display:block;
    
}
#logo{
    border: 1px solid rgba(0, 0, 0, 0.9);
    margin:0 auto;
    overflow: hidden;
    display:block;
}

#content{
    border: 1px solid red;
}
#menu{
    text-align: right;
    border: 1px solid blue;
    display: inline-block;
    vertical-align: top;
    width: 79%;
}

#login{
    text-align: center;
    border: 1px solid blue;
    display: inline-block;
    width: 20%;
}

#menu_gauche{
    border: 1px solid violet;
    display: block;
    width: 20%;
    text-align: center;
}

#footer{
    text-align: center;
    border: 1px solid green;
}