html {
    background-color: #f4f4f4;
    background-repeat: repeat;
    background-attachment:scroll;
     max-width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
#header{
    text-align:center;
    width: 100%;
    border: 1px solid #202020;
}
#logo{
    margin:1%;
    width: 300px;
    height:207px;
    position:relative;
    border: 1px solid rgba(0, 0, 0, 0.9);
}
#main{
    margin-top: 1%;
    text-align:center;
    width: 100%;
    border: 1px solid red;
    padding-bottom: 1%; 
}
#nav{
    display: block;
    text-align: center;
    width:80%; 
    margin-left:20%;
    border: 1px solid #202020;
}
#menu_gauche{
    text-align:center;
    position: relative;
    width: 20%;
    border: 1px solid violet;
}
