body {
font-size: 16px;
font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
background-image: url(../images/essai3.gif);
background-repeat:repeat;
padding:0px;
margin:0px;

}

a {color: #DB7093;}
a:visited {color:#DB7093;}
a:hover {color: #564b47;}
a:active { color:#000000;}



img.download {vertical-align:middle;}

/* ----------Corps du site-------------- */
#corps {
	width: 1280px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	border: 1px solid;
	border-color: rgba(252, 252, 252, 0.5);
	background-image: url(../images/essai.png);
	background-repeat:no-repeat;
}

/* ----------Bannière pour le logo-------------- */
#banner {
	text-align: left;
	padding: 5px;
	margin: 0px;
}
#banner img {
	text-align:center; 
	padding-top:5%;} 

/* -----------------Main du corps--------------------- */
#content {
	background-image: url(../images/essai2.gif);
	position:relative;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: 1px 1px 5px 0px #373a84;
}
div#content { 
	min-height:600px;
	height:expression(this.scrollHeight > 600 ? "auto":"600px"); 
}
/* ----------Navigation-------------- */
#nav{
	background-image: url(../images/navigation.png);
	background-repeat:x-repeat;
	text-align:center;
	width:100%; 
	height:60px;
	margin-bottom:2%;
}
/* ----------Bouttons-------------- */
.button{
	text-align:center;
	margin-top:8px;
	margin-bottom:1px;
	width: 140px;
	height: 45px;
	background:transparent url("../images/button.png") no-repeat;
	border:none;
	border:0;
}
.button:hover{
	text-align:center;
	width: 140px;
	height: 45px;
	background:transparent url("../images/button_a.png") no-repeat;
	border:none;
	outline:0;
}
.button_1{
	width: 126px;
	height: 38px;
	padding-bottom:2px;
	color:white;
	background:transparent url("../images/bt.png") no-repeat;
	border:none;
}
.sch{
	width: 129px;
	height: 35px;
	padding-left:10px;
	background:transparent url("../images/sch.png") no-repeat;
	border:none;
}
/* ----------Liste déroulante-------------- */
select {
	width: 212px;
	height: 38px;
	border:none;
	background:transparent url("../images/select.png") no-repeat;
}
select,option{
	padding-top:5px;
	padding-left:10px;
	color:gray;

}
/* ----------Bloc principal-------------- */
#bloc_main{
	display:inline-block;
	width:68%; 
	height:98%;
	float:left;
	position:relative;
	margin-top:1%; 
	margin-bottom:1%;
	margin-left: 2%;
	margin-right:4%;
}
fieldset legend
{
	font-size:1.2em;
	font-style:bold;
	}
	
.small
{
	font-style:italic;
	font-size:0.7em;
}
.alert
{
	color: #FF3B42;
}
#bloc_main #reset, #inscr
{
	width:100%;
	height:35px;
	font-size:1.3em;
	margin-left : 5%;
}
#bloc_main table td label
{
	vertical-align:top;
}
#bloc_main td{
	padding:1%;
	margin-right: 2%;
	width:50%;
	color:#BBA9C2;
	}
#bloc_main table{
	margin-left:1%;
	margin-top:2%;
}
#bloc_actu{
	background-image: url(../images/essai4.gif);
	text-align:center;
	border: 1px solid;
	border-color: rgba(252, 252, 252, 0.5);
	width:100%; 
	height:48%; 
	margin-bottom:2%;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 0px 0px 1px #b8b8b8;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}

#bloc_promo{
	background-image: url(../images/essai4.gif);
	border: 1px solid;
	border-color: rgba(252, 252, 252, 0.5);
	width:100%; 
	height:48%; 
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0px 0px 0px 1px #b8b8b8;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
}
/* ----------Bloc de gauche-------------- */
#bloc_infos{
	background-image: url(../images/essai5.gif);
	width:25%;
	height:98%; 
	text-align:center;
	float:right;
	display:inline-block;
	position:relative;
}
#login{
	margin-top:2%;
	width:98%; 
	height:25%; 
	border-bottom: 1px solid #e1dbce;
}

#search{
	width:98%; 
	height:17%; 
	border-bottom: 1px solid #e1dbce;
}

#search_pro{
	width:98%; 
	height:21%; 
	border-bottom: 1px solid #e1dbce;
}

#panier{
	width:98%; 
	height:30%; 
	margin-bottom:2%;
}
/* -----------footer--------------------------- */
#footer {
	background-image: url(../images/essai5.gif);
	background-repeat:x-repeat;
	clear: both;
	margin: 0px;
	padding: 0px;
	text-align: center; 
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	box-shadow: 1px 1px 5px 0px #fcefd1;
}


